.category-filter{
    ul {
        list-style: none;
        li {
            display: inline;
            border-right: 1px solid;
            padding-right: 5px;
            margin-right: 5px;

            &:last-child {
                border-right: none;
                padding-right: 0;
                margin-right: 0;
            }
        }
    }
}