.header {
    padding: 20px 0;
    position: fixed;
    width: 100%;
    background-color: rgba($color-white, 0.8);
    top: 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.header__menu  {
    display: flex;
    align-items: center;
}