.header {
    padding: 20px 0;
    position: fixed;
    width: 100%;
    background-color: rgba($color-white, 0.8);
    top: 0;
    z-index: 1;
    border-bottom: 1px solid rgba($color-light-grey, 0.3);
}

.admin-bar {
    .header {
        top: 32px;
    }
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.header__menu  {
    display: flex;
    align-items: center;
}