.search-form {
    margin-left: 10px;
    position: relative;
    @include max-screen($breakpoint-tablet) {
        order: 1;
        width: 100%;
        margin: 0;
        margin-top: 70px;
    }
}

.search-form__box {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: $color-white;
    border: 1px solid $color-light-grey;
    padding: 30px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
    width: 400px;

    &.open {
        opacity: 1;
        visibility: visible;
    }

    @include max-screen($breakpoint-tablet) {
        opacity: 1;
        visibility: visible;
        border: none;
        width: 100%;
        padding: 0 30px;
        position: unset;
    }
}

.search-form__button {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: $color-green;
    border-radius: 50%;
    cursor: pointer;

    &:before {
        content: '';
        position: absolute;
        left: 18px;
        width: 12px;
        height: 12px;
        border: 2px solid $color-white;
        border-radius: 50%;
        top: 16px;
        transition: transform 0.3s;
    }

    &:after {
        content: '';
        position: absolute;
        right: 15px;
        bottom: 18px;
        width: 2px;
        height: 6px;
        border: 1px solid $color-white;
        transform: rotate(-43deg);
        background-color: $color-white;
        transition: height 0.3s;
        transform-origin: bottom right;
    }

    &.open{
        &:before {
            content: '';
            position: absolute;
            left: 24px;
            top: 16px;
            width: 2px;
            height: 18px;
            border: 1px solid $color-white;
            transform: rotate(43deg);
            background-color: $color-white;
            border-radius: 0;
        }

        &:after {
            content: '';
            position: absolute;
            right: 24px;
            bottom: 16px;
            width: 2px;
            height: 18px;
            border: 1px solid $color-white;
            transform: rotate(-43deg);
            background-color: $color-white;
            transform-origin: unset;
        }
    }

    @include max-screen($breakpoint-tablet) {
        display: none;
    }
}

.search-form__categories-field {
    display: block;
    width: 100%;
    border: 1px solid $color-grey;
    border-radius: 0;
    padding: 5px;

    &:focus {
        outline: none;
    }
}

.search-form__keyword-field {
    display: block;
    width: 100%;
    border-bottom: 1px solid $color-grey;

    &:focus {
        outline: none;
    }
}